body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .result {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  